<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My First App</title>
    <link rel="stylesheet" href="algnmnt.css">
</head>
<body>
    <form method="post" action="result" enctype="multipart/form-data">
        <div class = "inputs">
            <label for="Age">Age:</label>
            <div class="tbox"><input type="text" id="Age" name="Age"><br><br></div>
            <label for="NaToK">Na to K:</label>
            <div class="tbox"><input type="text" id="NaToK" name="NaToK"><br><br></div>
            <label for="Sex">Sex:</label>
            <div class="tbox">
                <select id="Sex" name="Sex">
                    <option value="0">F</option>
                    <option value="1">M</option>
                </select>
                
                <br><br>
            </div>
            <label for="BP">BP:</label>
            <div class="tbox">
                <select id="BP" name="BP">
                    <option value="0">HIGH</option>
                    <option value="1">LOW</option>
                    <option value="2">NORMAL</option>
                </select>
                
                <br><br>
            </div>
            <label for="Cholesterol">Cholesterol:</label>
            <div class="tbox">
                <select id="Cholesterol" name="Cholesterol">
                    <option value="0">HIGH</option>
                    <option value="1">NORMAL</option>
                </select>
                
                <br><br>
            </div>

        </div>
        
        <div>
            <label for="Classifiers">Classifiers:</label>
            <input type="radio" id="nb" name="classifier" value="naive">
            <label for="nb">Naive Bayes</label>
            <br>
            <input type="radio" id="dectree" name="classifier" value="decisiontree">
            <label for="dectree">Decision Tree</label>
            <input type="radio" id="ann" name="classifier" value="ann">
            <label for="ann">ANN</label><br><br>
        </div>

        <div>
            <input type="file" name="test_input_file" id="test_input">
        </div>

        </div>
            <input class="btn" type="submit" value="Classify">
        </div>
    </form>
</body>
</html>